{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":7},"end":{"row":4,"column":7},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":138,"mode":"ace/mode/ini"}},"timestamp":1568095227337,"hash":"b6b4bfb4c47afc0f831332ba8a248e5828021cc7"}