{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":5,"column":6},"action":"insert","lines":["*.sqlite3","__pycache__",".~c9*","env.py","*.png","media/"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":6},"end":{"row":5,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1565213426665,"hash":"1ccc7b21e74d5ade05c8899320ee17cb3aa13e52"}