{"filter":false,"title":"requirementsNEW.txt","tooltip":"/requirementsNEW.txt","ace":{"folds":[],"scrolltop":708,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"c0f80e04fc715437f9f63d4e61a1a37a7677cb1b","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1568437030864}