{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div id="content">
	<div class="center">
		<h2>Welcome to Carols Cakes</h2>
		<p>Carol is Carol Wood!</p>
		<p>As a kid, it was hard for Carol to envision a successful career as one of America’s best bakers and cake decorators. She did not consider herself to be naturally artistic and she often struggled in art class during her school years. However, after starting her career at Boulder Bakery by washing pots and pans, Carol soon realized she had inherited the family gene for baking. It was at the bakery that Carol found her calling and knew her destiny was to help her mother make the family business a household name. She didn’t realize how soon he would be called to action. When she was 17, his mother passed away, forever changing Carols life. Drawing on the strength of her memory and bolstered by wearing her mothers apron (which she still wears everyday), it was time for Carol to step up to the role she had been primed for and become the new Cake Queen.</p>
	</div>
</div>
	
{% endblock %}