{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<div id="content">
		<div class="home">
			<div class="aside">
				<h1>Welcome to Carols Cakes</h1>
				<p>Carol’s Cakes is an established specialty cake shop that has been in business for more than 35 years.
				Carol’s Cakes is located on Brodhead Road in Center Township,  Pennsylvania. 
				Where our tightly-knit team believe that your wedding cake should be individually unique and designed around your vision.
				We understand elegance and strive to provide you with uncompromised quality and care.</p>
			</div>
			<div class="section">
				<div>
					<h2>The Cake Story</h2>
					<p>Carols Cakes has been established since 2005, and the retail store has been open since 2009. 
					Always using only the finest ingredients and traditional methods to produce exceptional cakes and baked goods. 
					Please feel free to inquire about their beautiful cake designs and cake prices.</p>
				</div>
				<ul>
					<li class="first">
						<a href="index.html"><img src="{% static 'images/cake.jpg' %}" alt="Image" /></a>
					</li>
					<li>
						<a href="index.html"><img src="{% static 'images/burgercake.jpg' %}" alt="Image" /></a>
					</li>
					<li>
						<a href="index.html"><img src="{% static 'images/cupcake.jpg' %}" alt="Image" /></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
{% endblock %}