{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<div id="content">
		<div>
			<h1>Carols Cakes</h1>
			<ul>
				<li>
					<div>
						<div>
							<h2><a href="/weddingcakes.html">Wedding Cakes</a></h2>
							<p>Click here to look at all our wedding cake offers!</p>
							<a href="/weddingcakes.html" class="view">Wedding Cakes</a>
						</div>
						<a href="/weddingcakes.html"><img src="/static/images/cakes.jpg" alt="Image" /></a>
					</div>
				</li>
				<li>
					<div>
						<div>
							<h2><a href="sheetcakes.html">Sheet Cakes</a></h2>
							<p>Click here to look at all our sheet cake offers!</p>
							<a href="sheetcakes.html" class="view">Sheet Cakes</a>
						</div>
						<a href="sheetcakes.html"><img src="/static/images/tarts.jpg" alt="Image" /></a>
					</div>
				</li>
				<li>
					<div>
						<div>
							<h2><a href="birthdaycakes.html">Birthday Cakes</a></h2>
							<p>Click here to look at all our birthday cake offers!</p>
							<a href="birthdaycakes.html" class="view">Birthday Cakes</a>
						</div>
						<a href="birthdaycakes.html"><img src="/static/images/cakes.jpg" alt="Image" /></a>
					</div>
				</li>
				<li>
					<div>
						<div>
							<h2><a href="specialoccasion.html">Special Occasion Cakes</a></h2>
							<p>Click here to look at all our special occasion cake offers!</p>
							<a href="specialoccasion.html" class="view">Special Occasion</a>
						</div>
						<a href="specialoccasion.html"><img src="/static/images/dessert.jpg" alt="Image" /></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
{% endblock %}