{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<div id="content">
		<div id="products_display">
			<div class="center">
				<h1>Carols Cakes</h1>
			</div>
			<ul>
				<li>
					<div>
						<div>
							<h2><a href="{% url 'weddingcakes' %}">Wedding Cakes</a></h2>
							<p>Click here to look at all our wedding cake offers!</p>
							<a href="{% url 'weddingcakes' %}" class="view">Wedding Cakes</a>
						</div>
						<a href="{% url 'weddingcakes' %}"><img src="{% static 'images/cakes.jpg' %}" alt="Image" /></a>
					</div>
				</li>
				<li>
					<div>
						<div>
							<h2><a href="{% url 'sheetcakes' %}">Sheet Cakes</a></h2>
							<p>Click here to look at all our sheet cake offers!</p>
							<a href="{% url 'sheetcakes' %}" class="view">Sheet Cakes</a>
						</div>
						<a href="{% url 'sheetcakes' %}"><img src="{% static 'images/tarts.jpg' %}" alt="Image" /></a>
					</div>
				</li>
				<li>
					<div>
						<div>
							<h2><a href="{% url 'birthdaycakes' %}">Birthday Cakes</a></h2>
							<p>Click here to look at all our birthday cake offers!</p>
							<a href="{% url 'birthdaycakes' %}" class="view">Birthday Cakes</a>
						</div>
						<a href="{% url 'birthdaycakes' %}"><img src="{% static 'images/pastries.jpg' %}" alt="Image" /></a>
					</div>
				</li>
				<li>
					<div>
						<div>
							<h2><a href="{% url 'specialoccasion' %}">Special Occasion Cakes</a></h2>
							<p>Click here to look at all our special occasion cake offers!</p>
							<a href="{% url 'specialoccasion' %}" class="view">Special Occasion</a>
						</div>
						<a href="{% url 'specialoccasion' %}"><img src="{% static 'images/dessert.jpg' %}" alt="Image" /></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
{% endblock %}