{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<div id="content">
		<div>
			<h1>The Pastry shop</h1>
			<ul>
				<li>
					<div>
						<div>
							<h2><a href="index.html">Special Treats</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
							<a href="index.html" class="view">view all</a>
						</div>
						<a href="index.html"><img src="images/special-treats.jpg" alt="Image" /></a>
					</div>
				</li>
				<li>
					<div>
						<div>
							<h2><a href="index.html">Tarts</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
							<a href="index.html" class="view">view all</a>
						</div>
						<a href="index.html"><img src="images/tarts.jpg" alt="Image" /></a>
					</div>
				</li>
				<li>
					<div>
						<div>
							<h2><a href="index.html">Cakes</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
							<a href="index.html" class="view">view all</a>
						</div>
						<a href="index.html"><img src="images/cakes.jpg" alt="Image" /></a>
					</div>
				</li>
				<li>
					<div>
						<div>
							<h2><a href="index.html">Desserts</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
							<a href="index.html" class="view">view all</a>
						</div>
						<a href="index.html"><img src="images/dessert.jpg" alt="Image" /></a>
					</div>
				</li>
				<li>
					<div>
						<div>
							<h2><a href="index.html">Pastries</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
							<a href="index.html" class="view">view all</a>
						</div>
						<a href="index.html"><img src="images/pastries.jpg" alt="Image" /></a>
					</div>
				</li>
				<li>
					<div>
						<div>
							<h2><a href="index.html">Healthy Food</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
							<a href="index.html" class="view">view all</a>
						</div>
						<a href="index.html"><img src="images/healthy-food.jpg" alt="Image" /></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
{% endblock %}	
