{% extends 'base.html' %}

{% block content %}
<div id="content">
    <div class="row row-flex">
        {% for product in products %}
            {% if product.category == 'Sheet' %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
                <div class="panel-body">
                    <h1>{{ product.category }}</h1>
                    <h2>{{ product.name }}</h2>
                    <img src='/media/{{ product.prod_image }}' alt='picture of cake'>
                    <p class="product-description">{{ product.prod_desc }}</p>
                    <p>${{ product.price }}</p>
    
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" size="10" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                                <p><button class="btn btn-success" type="submit">Add</button></p>
                            </span>
                        </div>
                    </form><hr>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}