{% extends 'base.html' %}

{% block content %}
<div id="content">
<div class="row row-flex">
    {% for product in products %}
        {% if product.category == 'Sheet' %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                 <h1>{{ product.category }}</h1>
                <h2>{{ product.name }}</h2>
                <img src='/static/{{ product.prod_image }}'>
                <p class="product-description">{{ product.prod_desc }}</p>
                <p>${{ product.price }}</p>

need to add form tag here                
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="99" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
</div>
{% endblock %}