{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      &nbsp;
    </div>
    <div class="col-md-6">
      <div id="faq-wrapper">
        <div id="faq-container">
          <dl class="faq">
            <dt>
              <button aria-expanded="true" aria-controls="faq1_desc">
                ~Kelly Doolittle~
              </button>
            </dt>
            <dd>
              <p id="faq1_desc" class="desc">
                "We trusted Carols Cakes to create a beautiful and delicious wedding cake via phone and email with no previous tasting.
                It turned out wonderful!  The wedding cake was beautiful and VERY good!" 
              </p>
            </dd>
            <dt>
              <button aria-expanded="false" aria-controls="faq2_desc">
                ~Kerry Karner~
              </button>
            </dt>
            <dd>
              <p id="faq2_desc" class="desc">
                "Carol!! You have amazed us once again, and this time amazed our guests. 
                The orange white cake with white chocolate raspberry filling and caramel drips you created
                for our June 23 wedding at Keeler Tavern looked beautiful! And of course was to die for! "
              </p>
            </dd>
            <dt>
              <button aria-expanded="false" aria-controls="faq3_desc">
                ~Stephanie Sheerin~
              </button>
            </dt>
            <dd>
              <p id="faq3_desc" class="desc">
                "Our cake tasting was beyond phenomenal, we even got plenty to take home! We kind of gave Carols Cakes
                a base of what we wanted and would like to see and she went above and beyond to exceed our expectations! 
                I could not have asked for a more beautifully delicious cake for our wonderful day.
                Trust Carol and be sure you will get exactly what you wanted and then some!"
              </p>
            </dd>
            <dt>
              <button aria-expanded="false" aria-controls="faq4_desc">
                ~Karel Dlugonkowski~
              </button>
            </dt>
            <dd>
              <p id="faq4_desc" class="desc">
                "Thank you SO much for the beautiful cake!!  Everyone raved about how beautiful the cake was and then
                everyone raved about how amazing it tasted!  There are still people talking and asking about the awesome orange cake!"
              </p>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      &nbsp;
    </div>
  </div>
</div>

{% endblock %}