{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carols Cakes</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!--[if IE 8]>
  		<link rel="stylesheet" type="text/css" href="css/ie8.css" />
  	<![endif]-->
  	<!--[if IE 7]>
  		<link rel="stylesheet" type="text/css" href="css/ie7.css" />
  	<![endif]-->
  	<!--[if IE 6]>
  		<link rel="stylesheet" type="text/css" href="css/ie6.css" />
  	<![endif]-->
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
	<div id="header">
		<div>
			<div>
				<div id="logo">
					<a href="{% url 'index' %}"><img src="{% static 'images/cclogo.png' %}" alt="Logo"/></a>
				</div>
				<div>
					<div>
						<a href="{% url 'profile' %}">My Account</a>
						<a href="/cart">Cart</a>
						<a href="{% url 'register' %}">Register</a>
						<a href="{% url 'login' %}">Log In</a>
						<a href="{% url 'logout' %}" class="last">Log Out</a>
					</div>
					<form action="{% url 'search' %}" method="get">
               			<input type="text" name="q">
                		<button type="submit">Search</button>
            		</form>
				</div>
			</div>
			<ul>
				<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'products' %}">Cakes</a></li>
				<li><a href="/cart">Cart</a></li>
				<li><a href="{% url 'about' %}">About us</a></li>
				<li><a href="{% url 'testimonials' %}">Testimonials</a></li>
				<li><a href="{% url 'contact' %}">Contact Us</a></li>
			</ul>
			
		</div>
		    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
	</div>
	
	{% block content %} 
	
	{% endblock %}
	
	<div id="footer">
		<div class="center">
			<h3>Follow Us</h3>
				<p><a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook">Facebook</a> |
				<a href="http://twitter.com/fwtemplates" target="_blank" class="twitter">Twitter</a> |
				<a href="http://www.flickr.com/freewebsitetemplates/" target="_blank" class="flicker">Flicker</a> |
				<a href="contact.html">Subscribe</a></p>
		</div>
	
		<div id="navigation">
			<div class="center">
				<p>Copyright &copy; 2019 Carols Cakes  All rights reserved</p>
			</div>
		</div>
	</div>
	<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d71551ab3b3365b"></script>
	<script src="/static/js/testimonials.js"></script>

</body>
</html>