{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Carols Cakes</title>
    
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="css/ie8.css" />
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="css/ie7.css" />
	<![endif]-->
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css" />
	<![endif]-->
	<link rel="shortcut icon" href="/static/images/favicon.ico" />
</head>
<body>
	<div id="header">
		<div>
			<div>
				<div id="logo">
					<a href="index.html"><img src="{% static 'images/logo.gif' %}" alt="Logo"/></a>
				</div>
				<div>
					<div>
						<a href="/accounts/profile">My Account</a>
						<a href="index.html">Cart</a>
						<a href="/accounts/register/">Register</a>
						<a href="/accounts/login">Log In</a>
						<a href="/accounts/logout" class="last">Log Out</a>
					</div>
				</div>
			</div>
			<ul>
				<li class="current"><a href="index.html">Home</a></li>
				<li><a href="products.html">Cakes</a></li>
				<li><a href="about.html">About us</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
			<div id="section">
			Slider goes in here...!
		
			</div>
		</div>
	</div>
	
	{% block content %} 
	
	{% endblock %}
	
	<div id="footer">
		<div class="home">
			<div>
				<div class="aside">
					<div class="signup">
						<div>
							<b>Too <span>BUSY</span> to shop?</b>
							<a href="contact.html">Sign up for free</a>
							<p>and we&#39;ll deliver it on your doorstep</p>
						</div>
					</div>
					<div class="connect">
						<span>Follow Us</span>
						<ul>
							<li><a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook">Facebook</a></li>
							<li><a href="http://twitter.com/fwtemplates" target="_blank" class="twitter">Twitter</a></li>
							<li><a href="#" class="subscribe">Subscribe</a></li>
							<li><a href="http://www.flickr.com/freewebsitetemplates/" target="_blank" class="flicker">Flicker</a></li>
						</ul>
					</div>
				</div>
				<div class="section">
					<div>
						<div>
							<h3><a href="index.html">Daily Cake Surprise</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exertation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div id="navigation">
			<div class="center">
				<p>Copyright &copy; 2019 Carols Cakes  All rights reserved</p>
			</div>
		</div>
	</div>
</body>
</html>